body {
	margin: 0;
	font: 15px/1.6em sans-serif;
	color: #333;
}

@media (min-width: 1600px) {
	body {
		font: 16px/1.6em sans-serif;
	}
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2 {
	font-weight: normal;
	font-size: 1.8em;
	line-height: 1.4em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-r {
	max-width: 100%;
	height: auto;
}

.center {
	text-align: center;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.container {
	padding: 0 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.top-border {
	position: relative;
	z-index: 100;
	height: 20px;
	width: 100%;
	display: block;
	background: #e9001a;
	background: linear-gradient(to right, 
		#952432 10%,
		#b1273a 20%,
		#d52027 30%,
		#67398e 40%,
		#393c80 50%,
		#263d83 60%,
		#255da1 70%,
		#307eb6 80%,
		#0a9d5d 90%,
		#8abc6e 100%);
	background: linear-gradient(to right, 
		#f8e705 0%,
		#f8e705 20%,
		#00b2ed 40%,
		#00b2ed 60%,
		#df002d 80%,
		#df002d 100%);
	background: linear-gradient(-90deg, rgb(251, 176, 30), rgb(229, 2, 18), rgb(192, 6, 156));
}


header.main {
	border-bottom: 1px solid #ddd;
	position: relative;
	z-index: 100;
	background: #fff;
}

header.main .container {
	display: flex;
}

header.main a {
	text-decoration: none;
	color: #000;
}

header.main nav {
	margin-left: auto;
	display: none;
}

@media (min-width: 960px) {
	header.main nav {
		display: block;
	}
}

header.main nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

header.main nav ul li {
	list-style: none;
}

header.main nav ul li a {
	display: inline-block;
	line-height: 80px;
	padding: 0 20px;
	font-size: 1.1em;
}

header.main a.logo {
	line-height: 80px;
	font-size: 1.5em;
	font-weight: bold;
	color: #e2001a;
	display: flex;
}

header.main a.logo b {
	color: #e2001a;
}

header.main a.logo img {
	width: 35px;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -5px;
}

header.main .nav-toggle {
	width: 80px;
	height: 80px;
	margin-left: auto;
	margin-right: -15px;
	text-align: center;
	line-height: 80px;
	font-weight: bold;
	cursor: pointer;
	color: #666;
}

@media (min-width: 380px) {
	header.main a.logo {
		font-size: 2em;
	}
}

@media (min-width: 960px) {
	header.main .nav-toggle {
		display: none;
	}
}

nav.mobile {
	position: absolute;
	top: 0;
	z-index: 99;
	background: #fff;
	width: 100%;
	padding: 100px 0 0;
	transform: translateY(-100%);
	transition: all 0.25s ease-in-out;
}

body.open nav.mobile {
	transform: translateY(0%);
}

nav.mobile ul {
	margin: 0;
	padding: 0;
}

nav.mobile ul li {
	list-style: none;
	border-bottom: 1px solid #ccc;
}

nav.mobile ul li:last-child {
	border-bottom: 0 none;
}

nav.mobile ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	line-height: 60px;
	color: #333;
}

.emotion {
	min-height: 400px;
	position: relative;
}

.emotion .bg {
	background-image: url("https://images.pexels.com/photos/269077/pexels-photo-269077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	top: 0;
	width: 100%;
	min-height: 400px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 100px black;
	transition: opacity .5s ease-in-out;
}

.emotion .text {
	padding: 20px 0;
}

.emotion .text h2 {
	margin: 10px 0 10px;
}

.emotion .text p {
	margin: 0 0 20px;	
}


.emotion,
.emotion .bg {
	min-height: 500px;
}

.emotion .wrapper {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.emotion .text {
	background: rgba(255,255,255,0.9);
	color: #333;
	padding: 20px;
}

@media (max-width: 959px) {
	.emotion .container {
		padding: 0;
	}
}

@media (min-width: 960px) {
	.emotion,
	.emotion .bg {
		min-height: 700px;
	}
	.emotion .wrapper {
		bottom: 40px;
	}
	.emotion .text {
		width: 50%;
	}
}

.content .box img {
	width: 100%;
	height: auto;
	display: block;
}

.content .box .text p {
	font-size: 1.1em;
	line-height: 1.6em;
}

.content .box .text .button {
    display: block;
    text-decoration: none;
    background: #0facf3;
    color: #fff;
    padding: 15px 25px;
    border-radius: 4px;
    margin: 0 auto;
    max-width: 375px;
    text-align: center;
    font-size: 1.2em;
}

.content .box .text {
	margin: 20px;
}


@media (min-width: 960px) {

	.content .row {
		display: flex;
	}

	.content .row.reverse {
		flex-direction: row-reverse;
	}

	.content .box-50 {
		width: 50%;
	}

	.content .box {
		min-height: 200px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.content .box .text {
		margin: 0 10%;
	}

}


footer.main {
	background: #333;
	color: #fff;
	padding: 50px 0;
}