body {
	margin: 0;
	font: 14px/1.6em 'Open Sans', sans-serif;
	color: #333;
	overflow-x: hidden;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2 {
	font-weight: normal;
	font-size: 1.8em;
	line-height: 1.4em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-r {
	max-width: 100%;
	height: auto;
}

.center {
	text-align: center;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.container {
	padding: 0 20px;
	max-width: 1400px;
	margin: 0 auto;
}

.top-border {
	position: relative;
	z-index: 100;
	height: 15px;
	width: 100%;
	display: block;
	background: #e9001a;
	background: linear-gradient(90deg, #c0069c, #e50212, #fbb01e);
}

header.main {
	border-bottom: 1px solid #ddd;
	position: relative;
	z-index: 100;
	background: #fff;
	min-height: 80px;
}

header.main .container {
	display: flex;
}

header.main a {
	text-decoration: none;
	color: #8f9192;
	transition: color 0.15s ease-in-out;
}

header.main a:hover {
	color: #333;
}

header.main nav {
	margin-left: auto;
	display: none;
}

@media (min-width: 960px) {
	header.main nav {
		display: block;
	}
}

header.main nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

header.main nav ul li {
	list-style: none;
}

header.main nav ul li a {
	display: inline-block;
	line-height: 80px;
	padding: 0 20px;
	font-size: 1.1em;
}

header.main a.logo {
	display: flex;
	position: relative;
	font-size: 1.5em;
}

header.main a.logo .left {
	align-self: center;
	margin-right: 10px;
}

header.main a.logo img {
	width: 30px;
	vertical-align: middle;
	display: block;
	margin-top: 20px;
}

@media (min-width: 380px) {
	header.main a.logo img {
		width: 40px;
    	margin-top: 15px;
	}
	header.main a.logo {
		font-size: 2em;
	}
}

@media (min-width: 960px) {
	header.main a.logo img {
    	margin-top: 0px;
	}
}

header.main a.logo .text {
    line-height: 66px;
    font-size: 1.25em;
    color: #e9001a;
    text-transform: uppercase;
    font-weight: 800;
}

header.main a.logo .sub {
	display: block;
	line-height: 1em;
	font-size: 0.5em;
	margin-top: -17px;
	margin-left: 2px;
	color: #333;
}

.nav-toggle {
    position: absolute;
    top: 39px;
    right: 20px;
    z-index: 9999;
    margin-left: auto;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 960px) {
	.nav-toggle {
		display: none;
	}
}

.nav-mobile-wrapper {
    position: absolute;
    top: 0;
    z-index: 99;
    background: #fff;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.25s ease-in-out;
    height: 100vh;
}

.nav-mobile-wrapper .top-border {
	background: linear-gradient(90deg, #fbb01e, #199712, #0f91f5);
}

nav.mobile {
	margin-top: 80px;
    height: 100vh;
    height: calc(100vh - 80px);
    background: #eee;
}

body.open .nav-mobile-wrapper {
	transform: translateX(0%);
}

.page {
	transform: translateX(0%);
	transition: all 0.25s ease-in-out;
}

body.open .page {
	transform: translateX(-90%);
}

@media (min-width: 960px) {
	body.open .nav-mobile-wrapper {
		display: none;
	}
	body.open .page {
		transform: translateX(0%);
	}
}

nav.mobile ul {
	margin: 0;
	padding: 0;
}

nav.mobile ul li {
	list-style: none;
	border-bottom: 1px solid #ccc;
}

nav.mobile ul li:last-child {
	border-bottom: 0 none;
}

nav.mobile ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	line-height: 60px;
	color: #333;
}

.emotion {
	position: relative;
}

.emotion .bg {
	background-image: url("https://tsadswmaw001.blob.core.windows.net/ds-typo3-azure/user_upload/News/Smart_Home_im_Hard_Turm_Park_in_Zuerich/smart-home-digitalstrom-hard-turm-park-1.jpg");
	background-image: url("https://images.pexels.com/photos/349749/kitchen-stove-sink-kitchen-counter-349749.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	top: 0;
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 100px black;
	transition: opacity .5s ease-in-out;
}

.emotion .text h2 {
	margin: 0;
}

.emotion .text p {
	margin: 0 0 20px;
	font-size: 1.1em;
	line-height: 1.6em;
}

.emotion,
.emotion .bg {
	min-height: 250px;
}


.emotion .text h2 span.mobile {
	display: none;
}

@media (max-width: 959px) {
	.emotion .text h2 span.mobile {
		display: block;
		background: linear-gradient(-115deg, #4cc143, #199712);
    	padding: 20px;
    	font-size: 0.8em;
    	color: #fff;
    	line-height: 1.6em;
	}
	.emotion .text h2 span.desktop {
		display: none;
	}
	.emotion .container {
		padding: 0;
	}
}

@media (min-width: 500px) {
	.emotion,
	.emotion .bg {
		min-height: 400px;
	}
}

@media (min-width: 960px) {
	.emotion,
	.emotion .bg {
		min-height: 550px;
	}
	.emotion .wrapper {
		bottom: 40px;
	}
	.emotion .wrapper {
		position: absolute;
		bottom: 0px;
		width: 100%;
	}
	.emotion .text h2 {
		margin-bottom: 50px;
	}
	.emotion .text h2 span {
        background: linear-gradient(-120deg, #56cd4c, #2fab26);
    	box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.05);
    	color: #fff;
    	padding: 10px 15px;
    	line-height: 1.85em;
    	font-size: 1.4em;
	}
}

@media (min-width: 1400px) {
	.emotion,
	.emotion .bg {
		min-height: 600px;
	}
}

@media (min-width: 1600px) {
	.emotion,
	.emotion .bg {
		min-height: 700px;
	}
}

.content .box img {
	width: 100%;
	height: auto;
	display: block;
}

.content .box .text p {
	font-size: 1.1em;
	line-height: 1.8em;
	margin-bottom: 40px;
}

.content .box .text .button {
	display: block;
	text-decoration: none;
	background: linear-gradient(-120deg, #56cd4c, #2fab26);
	color: #fff;
	padding: 15px 25px;
	border-radius: 4px;
	margin: 25px auto;
	max-width: 375px;
	text-align: center;
	font-size: 1.2em;
}

.content .box .text .button:hover {
	background: #2fab26;
}

.content .box .text {
	margin: 20px;
}


@media (max-width: 959px) {
	.content .box.image {
		position: relative;
	}
	.content .box.image:after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		left: calc(50% - 20px);
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid #fff;
		clear: both;
	}
}

@media (min-width: 960px) {

	.content .row {
		display: flex;
	}

	.content .row.reverse {
		flex-direction: row-reverse;
	}

	.content .box-50 {
		width: 50%;
	}

	.content .box {
		min-height: 200px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.content .box .text {
		margin: 0 10%;
	}
	.content .box.image:after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		top: calc(50% - 20px);
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-right: 20px solid #fff;
		clear: both;
	}
	.content .row.reverse .box.image:after {
		left: 0;
		top: 50%;
		top: calc(50% - 20px);
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid #fff;
		border-right: 20px solid transparent;
		clear: both;
	}

}

section.brands {
	padding: 50px 0;
	text-align: center;
}

section.brands .container {
	max-width: 100%;
}

section.brands h3 {
    font-weight: normal;
    font-size: 1.8em;
}

section.brands ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

section.brands li {
	width: 50%;
}

section.brands li {
	list-style: none;
	position: relative;
	height: 100px;
}

section.brands li img {
	width: 100%;
	height: auto;
	padding: 15px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

@media (min-width: 380px) {
	section.brands li {
		width: 20%;
		height: 50px;
		padding: 0;
	}
	section.brands li img {
		padding: 10px;
	}
}

@media (min-width: 600px) {
	section.brands li {
		height: 80px;
	}
	section.brands li img {
		padding: 20px;
	}
}

@media (min-width: 960px) {
	section.brands li {
		width: 10%;
	}
}

footer.main {
	padding: 50px 0;
	background: #eee;
}

footer.main h3 {
	border-bottom: 2px solid #ccc;
	line-height: 1.6em;
	padding-bottom: 10px;
}

footer.main ul {
	margin: 0;
	padding: 0;
}

footer.main ul li {
	list-style: none;
}

footer.main a {
	display: inline-block;
	text-decoration: none;
	color: #666;
	line-height: 35px;
	transition: all 0.15s ease-in-out;
}

footer.main a:hover {
	color: #000;
}


@media (min-width: 960px) {
	footer.main .row {
		display: flex;
		margin-left: -25px;
		margin-right: -25px;
	}
	footer.main .col {
		width: 33%;
		padding: 0 25px;
	}
}