body {
	margin: 0;
	font: 15px/1.6em sans-serif;
	color: #333;
}

@media (min-width: 1600px) {
	body {
		font: 16px/1.6em sans-serif;
	}
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.img-r {
	max-width: 100%;
	height: auto;
}

.center {
	text-align: center;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.container {
	padding: 0 15px;
	max-width: 1200px;
	margin: 0 auto;
}

.top-border {
	height: 20px;
	width: 100%;
	display: block;
	background: #e9001a;
	background: linear-gradient(to right, 
		#952432 10%,
		#b1273a 20%,
		#d52027 30%,
		#67398e 40%,
		#393c80 50%,
		#263d83 60%,
		#255da1 70%,
		#307eb6 80%,
		#0a9d5d 90%,
		#8abc6e 100%);
	background: linear-gradient(to right, 
		#f8e705 0%,
		#f8e705 20%,
		#00b2ed 40%,
		#00b2ed 60%,
		#df002d 80%,
		#df002d 100%);
	background: #367f12;
	background: linear-gradient(to right, 
		#f9e805 0%,
		#f9e805 33%,
		#00b2ed 33%,
		#00b2ed 66%,
		#df002b 66%,
		#df002b 100%);
}

header.main {
	border-bottom: 1px solid #ddd;
}

header.main .container {
	display: flex;
}

header.main a {
	text-decoration: none;
	color: #000;
}

header.main nav {
	margin-left: auto;
	display: none;
}

@media (min-width: 960px) {
	header.main nav {
		display: block;
	}
}

header.main nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

header.main nav ul li {
	list-style: none;
}

header.main nav ul li a {
	display: inline-block;
	line-height: 80px;
	padding: 0 20px;
	font-size: 1.1em;
}

header.main a.logo {
	line-height: 80px;
	font-size: 2em;
	font-weight: bold;
	color: #333;
	display: flex;
}

header.main a.logo img {
    width: 40px;
    vertical-align: middle;
}

header.main a.logo b {
	color: #e9001a;
}

.emotion {
	position: relative;
}

.emotion img {
	width: 100%;
	height: auto;
	display: block;
}

.emotion .text {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 40%;
	background: rgba(255,255,255,0.9);
	color: #333;
	padding: 20px;
}

.emotion .text h2 {
	margin: 10px 0 10px;
}

.emotion .text p {
	margin: 0 0 20px;	
}


.content .box {
	min-height: 200px;
	background: #eee;
	padding: 20px;
	margin: 20px 0;
}

@media (min-width: 960px) {
	.content .row {
		display: flex;
		margin-left: -10px;
		margin-right: -10px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.content .box {
		margin: 0 10px;
	}
	.content .box.w-20 {
		width: 20%;
	}

	.content .box.w-33 {
		width: 33.333%;
	}

	.content .box.w-50 {
		width: 50%;
	}

	.content .box.w-80 {
		width: 80%;
	}
}

footer.main {
	background: #333;
	color: #fff;
	padding: 50px 0;
}